@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Didact+Gothic&family=Roboto:wght@100&display=swap');
body {
  background-color:#3A7CA5;
  font-family: 'Bebas Neue';
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin:auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 27px;
  background-color: antiquewhite;
  width: 40%;
  border-radius: 10px;
  padding: 5px;
  justify-content:space-around;
  margin:15px auto 25px auto;
  border: 1px solid black;
  box-shadow: 7px 6px 8px -2px rgba(0,0,0,0.68);
}

.navbar img {
  height: 50px;
}

.navh1 {
  font-size: 50px;
  margin:0 20px 0 20px;
}

.navh1 span {
  font-size: 40px;;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.main h2 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.trendBox, .topmark {
  width:20%;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px 8px -2px rgba(0,0,0,0.68);
  background-color: antiquewhite;
  padding-bottom: 20px;
}

.trendBox {
  transform: rotate(-5deg);
  position: relative;
  top: 35px;
  left: 10px;
}

.trendBox img {
  width:80%;
}

.trendData {
  background: white;
  border-radius: 200px;
  font-size: 13px;
  text-align:center;
  width: 50%;
  padding-top: 50%;
  top:90px;
  left:35px;
  position: absolute;
  padding:10px;
}

.percent {
    font-size: 70px;
    margin: 0;
}

.chartBox {
  width:55%;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 7px 6px 8px -2px rgba(0,0,0,0.68);
  background-color: antiquewhite;
  padding: 5px;
}

.topmark {
  transform: rotate(5deg);
  position: relative;
  top: 35px;
  right: 10px;
}

/* 
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 5%;
  padding-top: 10px;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #3A7CA5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:50px;
  width: 90%;
  border: red 1px solid;
  margin: auto;
}

.bx{
  background-color: #D9DCD6;
  padding: 1%;
  border-radius: 8px;
  height: 50px;
}

.bx1 {
  background-color: #D9DCD6;
  height: fit-content;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
}

.bx2{
  background-color: #D9DCD6;
  height: fit-content; 
  width: fit-content;
  padding:2%;
  display:block;
  justify-content: space-between;
 
}

.drops{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  margin-bottom:30px ;
}

.bx3{
  background-color: #D9DCD6;
  height: fit-content;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;

  
}

.topmark{
  margin-bottom: 2px;
  margin-top: 0%;
}

.mark{
  margin-top: 5px;
}

.marks{
  margin-top: 3px;
  margin-bottom: 0%;

}

.bx4{
  width: 100%;
  display: flex;
  margin: auto;
}

.Dev{
  height: 3.5em;
}
.navh1{
  font-size: xxx-large;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 1%;

}

.chart{
  height:100%;
  border-radius: 8px;
}

.factList{
  height: 100%;
  border-radius: 8px;
}

.trendLine{
  filter: invert(75%) sepia(100%) saturate(1500%) hue-rotate(346deg) brightness(93%) contrast(96%);
  border-radius: 55px;
}

#trendBox {

  background: white;
  border-radius: 15px;
  position: absolute;
  top: 230px;
  left:40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#trendTitle {
  font-size: 60px;
  position: absolute;
  transform: rotate(-15deg);
}

.gauge{
  width: 60%;
}

#trendBox img {
  margin:auto;
  top:140px;
  left:30px;
  position: absolute;
  transform: rotate(0deg);
  
  transform-origin: 42% 50%;
}

#trendData {
  background: white;
  border-radius: 200px;
  font-size: 20px;
  text-align:center;
  width:160px;
  height:160px;
  top:158px;
  left:45px;
  position: absolute;
  padding:20px;
}

#percent {

  font-size: 80px;
  padding-top:130px;
}

.bx2 > form > label{
  padding: 6px
}

#experience {
  position: relative;
  top: -3px;
}

@media (max-width: 1530px) {
  .main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  }
  
  .bx1, .bx3 {
  flex-basis: calc(50% - 0.5em);
  margin-right: 1em;
  margin-bottom: 1em;
  }
  
  .bx2 {
  width: 100%;
  margin-right: 0;
  order: -1;
  margin-bottom: 1em;
  }
}


@media (max-width: 950px) {

  .navbar {
    font-size: 3.5vw;
    padding: 1em 0.5em;
  }
  
  .navh1 {
    font-size: 3.5vw
  }

  .Dev {
    height: 1.75em;
  }

  .bx1 {
    max-width: 30%;
    width: 80%;
    margin: 0 auto 1em auto;
  }

  .bx2 > div > canvas {
    width: 90%;
    height: 90%;
  }

  .bx3 {
    max-width: 30%;
    width: 80%;
    margin: 0 auto 1em auto;
  }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App {
    min-width:450px;
  }

  .navbar {
    width: 90%;
  }

  .main h2 {
    font-size: 14px;
  }

  .trendData {
    font-size:7px;
    width: 40%;
    top:46px;
    left:20px;
    padding:10px;
  }

  .marks {
    padding-left: 20px;
  }
  
  .percent {
      font-size: 14px;
      margin: 0;
  }

  .trendBox, .topmark {
    padding-bottom: 0px;
    width: 90px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .App {
    width:500px;
  }

  .navbar {
    width: 80%;
  }

  .main h2 {
    font-size: 20px;
  }

  .trendData {
    font-size:8px;
    width: 40%;
    top:54px;
    left:24px;
    padding:10px;
  }

  .marks {
    padding-left: 40px;
  }
  
  .percent {
      font-size: 18px;
      margin: 0;
  }

  .trendBox, .topmark {
    padding-bottom: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .App {
    width:700px;
  }

  .navbar {
    width: 60%;
  }

  .main h2 {
    font-size: 30px;
  }

  .trendData {
    font-size: 10px;
    width: 40%;
    top:70px;
    left:38px;
    padding:10px;
  }
  
  .percent {
      font-size: 28px;
      margin: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App {
    width:900px;
  }

  .trendData {
    font-size: 11px;
    width: 50%;
    top:68px;
    left:42px;
    padding:10px;
  }
  
  .percent {
      font-size: 50px;
      margin: 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .App {
    width:1150px;
  }

  .trendData {
    background: white;
    border-radius: 200px;
    font-size: 13px;
    text-align:center;
    width: 50%;
    padding-top: 50%;
    top:68px;
    left:55px;
    position: absolute;
    padding:10px;
  }
  
  .percent {
      font-size: 70px;
      margin: 0;
  }
}