.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  text-align: center;
  background-color: #3A7CA5;
}

#header {
  margin-top: 80px;
  font-size: 40px;
}

.searchBar {
  display: flex;
  justify-content: space-evenly;
  background-color: #D9DCD6;
  border-radius: 8px;
  width: 60%;
  margin: 60px auto auto auto;
  padding: 1%;
}

#root > div > form > label > input {
  margin-left: 3px;
}

#root > div > form > label > select {
  text-align: center;
  margin-left: 3px;
}

#root > div > div {
  margin-top: 50px;
}

.searchContainer {
  margin: 60px auto;
  display: flex;
}

.searches {
  border-radius: 8px;
  margin: auto;
  padding: 1%;
  background-color: #D9DCD6;
  border: 1px rgb(255, 255, 255) solid
}