@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Didact+Gothic&family=Roboto:wght@100&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #3A7CA5;
  font-family: 'Bebas Neue';
}

.main {
  background-color:#3A7CA5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  padding: 5%;
  padding-top: 10px;

}

.App-link {
  color: #61dafb;
}

.navbar{
  background-color: #3A7CA5
  ;
  display: flex;
  justify-content: center;
  align-items: center;
  size: 50pt;
  margin-top: 20px;
  margin-bottom: 10px;
}



.bx{
  background-color: #D9DCD6;
  padding: 1%;
  border-radius: 8px;
}

.bx1{
  background-color: #D9DCD6;
  height: 20vh;
  width: fit-content;
  display: flex;
}

.bx2{
  background-color: #D9DCD6
  ;
  height: fit-content;
  width: fit-content;
  padding:2%;
 
}

.drops{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  margin-bottom:30px ;
}

.bx3{
  background-color: #D9DCD6;
  height: fit-content;
  
}

.topmark{
  margin-bottom: 2px;
  margin-top: 0%;
}

.mark{
  margin-top: 5px;
}

.marks{
  margin-top: 3px;
  margin-bottom: 0%;

}

.bx4{
  width: 60%;
  display: flex;
}

.Dev{
  height: 8em;
}
.navh1{
  font-size: 200%;
  width: 100%;
}

.chart{
  height:100%;
  border-radius: 8px;
}

.factList{
  height: 100%;
  border-radius: 8px;
}

.trendLine{
  /* background-color: #faa31c; */
  filter: invert(75%) sepia(100%) saturate(1500%) hue-rotate(346deg) brightness(93%) contrast(96%);
  border-radius: 55px;
}

#trendBox {
  width:340px;
  height:400px;
  background: white;
  border-radius: 15px;
  position: absolute;
  top: 230px;
  left:40px;
}

#trendTitle {
  font-size: 60px;
  position: absolute;
  transform: rotate(-15deg);
}

#trendBox img {
  width:80%;
  margin:auto;
  top:140px;
  left:30px;
  position: absolute;
  transform: rotate(0deg);
  
  transform-origin: 42% 50%;
}

#trendData {
  background: white;
  border-radius: 200px;
  font-size: 20px;
  text-align:center;
  width:160px;
  height:160px;
  top:158px;
  left:45px;
  position: absolute;
  padding:20px;
}

#percent {
/*   width:60%; */
  font-size: 80px;
  padding-top:130px;
}

#delta {
}


@media only screen and (max-width: 1400px) {
  .App {
    background-color: #3A7CA5;
    align-items: center;

  }

  .main{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: start;

  }

  .navbar{
    display: block;
  }
  .bx1{
    grid-row:2/3;
    grid-column: 1/2;
    padding:15px;
    width: 90%;
    margin-top: 10%;
    

  }
  .bx2{
    grid-row: 1/2;
    grid-column: 1/4;
    width: 96%;
    padding:15px;
  }

  

  .bx3{
    grid-row:2/3;
    grid-column: 3/4;
    padding:15px;
    width: 90%;
    margin-top: 10%;
    
  }
  .bx4{
    width: fit-content;
    display: flex;
  }

  .chart{
    width: 100%;
  }
}

